appdirs==1.4.4
attrs==24.2.0
backoff==2.2.1
backports-datetime-fromisoformat==2.0.2
build==1.0.3
CacheControl==0.13.1
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==43.0.3
cx-Freeze==6.15.10
distlib==0.3.6
dulwich==0.21.6
Faker==24.14.1
fastjsonschema==2.18.1
filelock==3.12.0
fs==2.4.16
greenlet==3.1.1
idna==3.4
importlib-metadata==6.8.0
inflection==0.5.1
installer==0.7.0
jaraco.classes==3.3.0
joblib==1.4.2
jsonpath-ng==1.7.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
kafka-python==2.0.2
keyring==24.2.0
more-itertools==10.1.0
msgpack==1.0.7
packaging==23.2
pendulum==3.0.0
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==3.10.0
ply==3.11
poetry-core==1.8.1
poetry-plugin-export==1.6.0
poetry==1.7.0
ptyprocess==0.7.0
pycparser==2.22
PyJWT==2.10.0
pyproject_hooks==1.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
rapidfuzz==3.5.2
referencing==0.35.1
requests-toolbelt==1.0.0
requests==2.31.0
rpds-py==0.21.0
shellingham==1.5.4
simpleeval==1.0.3
simplejson==3.19.3
singer-sdk==0.37.0
six==1.16.0
SQLAlchemy==2.0.36
target-kafka @ git+https://github.com/reidlai/target-kafka.git@33cdf9fbd8d365930462cbae9b31d7dab8667776
time-machine==2.16.0
tomli==2.0.1
tomlkit==0.12.2
trove-classifiers==2023.10.18
typing_extensions==4.12.2
tzdata==2024.2
# urllib3==2.0.7
virtualenv==20.23.0
zipp==3.17.0
